<%- include('parts/header.ejs'); -%>

<div class="article container">
    <div class="container mt-5">
        <!-- Título do Artigo -->
        <h1 class="mb-3">Título do Artigo</h1>

        <!-- Corpo do Artigo -->
        <div class="mb-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <!-- Adicione mais conteúdo do artigo conforme necessário -->
        </div>

        <!-- Informações do Artigo -->
        <div class="mb-4">
            <!-- Quantidade de Likes -->
            <p class="fw-bold">Likes: 100</p>

            <!-- Seção de Comentários -->
            <div>
                <h3 class="mb-3">Comentários</h3>
                <!-- Lista de Comentários -->
                <ul class="list-group">
                    <li class="list-group-item">Comentário 1</li>
                    <li class="list-group-item">Comentário 2</li>
                    <!-- Adicione mais comentários conforme necessário -->
                </ul>
            </div>
        </div>

        <!-- Informações do Autor -->
        <div>
            <h5 class="fw-bold">Autor: Nome do Autor</h5>
        </div>
    </div>
</div>

<%- include('parts/footer.ejs'); -%>