<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">
        Entrar
    </button>
    <form action="/login" method="post" class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start p-4">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="" required>
            <label for="username">Nome</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="" required>
            <label for="password">Senha</label>
        </div>
        <div class="mx-1 mb-3">
            <small style="font-size: .857rem;">Não tem uma conta? <a href="/register">Cadastre-se aqui.</a></small>
        </div>
        <button type="submit" class="btn btn-primary w-100">Acessar</button>
    </form>
</div>
