<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">
        Entrar
    </button>
    <form class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start p-4">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Endereço de Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="senha">
            <label for="floatingPassword">Senha</label>
        </div>
        <div class="mx-1 mb-3">
            <small>Novato? <a href="/register">Cadastre-se aqui.</a></small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>