
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
}

hr {
    margin: 0.3rem 0;
    border-style: dashed;
    opacity: .15;
}

.home a {
    color: inherit;
    text-decoration: none;
}

.home a:hover {
    text-decoration: underline;
}

body>div {
    min-height: 100vh;
    background-color: rgb(13, 17, 23);
}



.main-container {
    max-width: 1012px;
    margin: 25px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
}

.footer>div {
    font-size: 14px;
    border-color: rgb(48, 54, 61);
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
    padding: 24px 8px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 16px;
}


.container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.badge {
    padding: 2px 3px 0 3px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 0;
    background-color: #6c757d22;
}

.container .tags-type {
    text-align: right;
    margin-bottom: -0.6rem;
}

.container .card-body {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 2fr;
}

.container .count {
    text-align: right;
}

.container .info {
    font-size: .875em;
}

/* HEADER NAVBAR */
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    background-color: rgb(22, 27, 34);
}

.btn-navbar {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.btn-navbar:hover {
    color: #fff;
}

.home .dropdown-toggle,
.dropdown-menu {
    align-self: end;
}

/* HEADER */

.header {
    padding: 12px 64px;
    line-height: 1.5;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 27, 34);
}

.header > div {
    width: 300px;
    text-align: center;
}

/* .header .dropdown {
    font-size: small;
} */

.header .dropdown .form-control {
    min-height: 0;
    height: 45px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #0b5ed777;
}

.header .dropdown .form-floating>label {
    font-size: .857rem;
    padding: .7rem .7rem;
}

.header .dropdown .form-control:focus {
    padding: 0;
    padding-left: .7rem;
    box-shadow: 0 0 0 .15rem #0b5ed777;
}

.header .dropdown form,
.header .dropdown input,
.header .dropdown .form-floating>.form-control:focus~label::after,
.header .dropdown .form-floating>.form-control:not(:placeholder-shown)~label::after {
    border-color: rgb(13, 17, 23);
    background-color: rgb(22, 27, 34);
    color: #ffffff;
}

.header .dropdown .form-floating>.form-control:focus~label,
.header .dropdown .form-floating>.form-control:not(:placeholder-shown)~label {
    color: #ffffff;
    transform: scale(.85) translateY(-1.7rem) translateX(.15rem);
}

.header .dropdown .form-floating>.form-control:not(:placeholder-shown) {
    padding: 0;
    padding-left: 0.5rem;
}

.header .dropdown .dropdown-menu {
    width: max-content;
}

/* REGISTER */


.register .form-control {
    min-height: 0;
    height: 45px;
    border-radius: 0;
    background-color: rgb(13, 17, 23);
    border: none;
    border-bottom: 1px solid #0b5ed777;
    color: #ffffff;
}


.register .form-floating>label {
    font-size: .857rem;
    padding: .7rem .7rem;
}

.register .form-control:focus {
    padding: 0;
    padding-left: .7rem;
    box-shadow: 0 0 0 .15rem #0b5ed777;
}

.register input,
.register .form-floating>.form-control:focus~label::after,
.register .form-floating>.form-control:not(:placeholder-shown)~label::after {
    color: #ffffff;
    background-color: rgb(13, 17, 23);
}

.register .form-floating>.form-control:focus~label,
.register .form-floating>.form-control:not(:placeholder-shown)~label {
    color: #ffffff;
    transform: scale(.85) translateY(-1.7rem) translateX(.15rem);
}

.register .form-floating>.form-control:not(:placeholder-shown) {
    padding: 0;
    padding-left: 0.5rem;
}