* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
}

hr {
    margin: 0.3rem 0;
    border-style: dashed;
    opacity: .15;
}

.main {
    min-height: 100vh;
    background-color: rgb(13, 17, 23);
    box-sizing: border-box;
}

.main-container {
    max-width: 1012px;
    margin: 25px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 16px 8px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    flex-wrap: nowrap;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    background-color: rgb(22, 27, 34);
    box-sizing: border-box;
}

.main-box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.badge {
    padding: 2px 3px 0 3px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 0;
    background-color: #6c757d22;
}

.main-box .tags-type {
    text-align: right;
    margin-bottom: -0.6rem;
}

.main-box .card-body {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 2fr;
}

.main-box .count {
    text-align: right;
    box-sizing: border-box;
}

.main-box .info {
    font-size: .875em;
    color: #6c757d;
}